.boards-page {
  display: flex;
  margin: 40px 16px 0;
  max-width: 825px;
  min-width: 288px;
  width: 100%;

  .boards-page-nav {
    width: 255px;
    height: 500px;
    margin: 40px 0 0;
    padding: 0 16px;
  }

  .all-boards {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 20px;

    .starred-boards-container {
      padding: 0 0 20px;

      .starred-boards-title {
        display: flex;
        margin: 0 0 0 40px;
        padding: 0 0 11px;
        position: relative;

        .member-icon {
          @include icon;
          @include icon-lg;
          transform: translateY(-8px);
          left: -40px;
          position: absolute;
          top: 0;
          &::before {
            content: "\e966";
          }
        }
      }

      .starred-boards-list-container {
        .starred-boards-list {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          list-style: none;
          border-radius: 3px;

          .board-card {
            margin: 0 8px 8px 0;
            padding: 0;
            transform: translate(0);
            margin-right: 2%;
            width: 166px;
            height: 96px;
            position: relative;

            .board-link {
              background-position: 50%;
              background-size: cover;
              color: #fff;
              line-height: 20px;
              padding: 8px;
              position: relative;
              text-decoration: none;
              border-radius: 3px;
              display: block;
              // background-color: #519839;
              opacity: 0.92;

             &:hover{
               opacity: 1;
             }

              .link-block {
                bottom: 0;
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
                display: block;
              }

              .board-card-details {
                display: flex;
                flex-direction: column;
                height: 80px;
                justify-content: space-between;
                position: relative;

                .card-header-name {
                  font-weight: 700;
                  font-size: 16px;
                }

                .card-star {
                  display: flex;
                  justify-content: flex-end;

                  .card-star-container {
                    position: relative;
                    right: -4px;

                    .star {
                      @include icon;
                      color: #f2d600;
                      margin-right: 6px;
                      opacity: 1;
                      width: 18px;

                      &::before {
                        content: "\e967";
                      }

                      &:hover{
                        font-size: 18px;
                        &::before {
                          content: "\e966";
                        }

                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .your-boards-container {
      .your-boards-title {
        display: flex;
        margin: 0 0 0 40px;
        padding: 0 0 11px;
        position: relative;

        .member-icon {
          @include icon;
          @include icon-lg;
          transform: translateY(-8px);
          left: -40px;
          position: absolute;
          top: 0;
          &::before {
            content: "\e946";
          }
        }
      }

      .your-boards-list-container {
        .your-boards-list {
          display: flex;
          justify-content: flex-start;
          list-style: none;
          border-radius: 3px;

          .board-card {
            margin: 0 8px 8px 0;
            padding: 0;
            transform: translate(0);
            margin-right: 2%;
            width: 174px;
            height: 96px;
            position: relative;

            .board-link {
              background-position: 50%;
              background-size: cover;
              color: #fff;
              line-height: 20px;
              padding: 8px;
              position: relative;
              text-decoration: none;
              border-radius: 3px;
              display: block;
              // background-color: #519839;
              opacity: 0.92;

              &:hover{
                opacity: 1;
              }

              .link-block {
                bottom: 0;
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
                display: block;
              }

              .board-card-details {
                display: flex;
                flex-direction: column;
                height: 80px;
                justify-content: space-between;
                position: relative;

                .card-header-name {
                  font-weight: 700;
                  font-size: 16px;
                }

                .card-star {
                  display: flex;
                  justify-content: flex-end;

                  .card-star-container {
                    position: relative;
                    right: -4px;

                    .star {
                      @include icon;
                      color: #f2d600;
                      margin-right: 6px;
                      opacity: 1;
                      width: 18px;

                      &::before {
                        content: "\e967";
                      }

                      &:hover{
                        font-size: 18px;
                        &::before {
                          content: "\e966";
                        }

                      }
                    }
                  }
                }
              }
            }
          }
          .create-new-board-card {
            margin: 0 2% 2% 0;
            padding: 0px 8px;
            transform: translate(0);

            .new-board-card {
              background-color: #091e420a;
              border: none;
              box-shadow: none;
              color: #172b4d;
              display: table-cell;
              font-weight: 400;
              height: 80px;
              text-align: center;
              transition-duration: 85ms;
              transition-property: background-color, border-color, box-shadow;
              vertical-align: middle;
              width: inherit;
              width: 174px;
              height: 96px;
              border-radius: 3px;
              cursor: pointer;

              &:hover {
                background-color: #091e4214;
              }

              p {
                margin: 0 0 8px;
                margin-bottom: 0;

                span {
                  color: #172b4d;
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }

    .starred-header {
    }
  }

  .starred-boards-list-container {
    .starred-boards-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }
}
