.boards-page {
  display: flex;
  margin: 40px 16px 0;
  max-width: 825px;
  min-width: 288px;
  width: 100%;

  .boards-page-nav {
    width: 255px;
    height: 500px;
    margin: 40px 0 0;
    padding: 0 16px;
  
  }

  .all-boards {

    display: flex;
    flex-direction: row;
  

    .starred-boards-container {
      padding: 0 0 20px;

      .starred-boards-title{

        display: flex;
        margin: 0 0 0 40px;
        padding: 0 0 11px;
        position: relative;

        .icon {
          left: -40px;
          position: absolute;
          top: 0;
          &::before {
            content: '\e946';
          }
        }

      }


    }
    
    

      .starred-header {
      
      }
  
  }

  .starred-boards-list-container {
    .starred-boards-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }
}
