.main-board {
  height: 100%;
  background-color: #0079bf;

  .groups-container {
    display: flex;
    padding: 8px;
    gap: 8px;
    overflow-x: auto;
    height: 87%;
    .group-container {
      background-color: $group-bgc;
      padding: 8px;
      width: 272px;
      border-radius: 3px;
      .group {
        position: relative;
        display: flex;
        flex-direction: column;

        .group-title {
          margin-bottom: 8px;
          padding: 0 8px;
          white-space: pre-wrap;
          word-wrap: break-word;
        }
        .group-extras {
          @include icon;
          cursor: pointer;
          border-radius: 3px;
          position: absolute;
          right: 0;
          top: 0;
          font-weight: 600;
          div {
            transform: translateY(-20%);
          }
          &:hover {
            background-color: darken($group-bgc, 6%);
          }
        }
        .group-tasks {
          overflow-y: auto;
        }

        .group-header {
          h2 {
            font-size: 14px;
            font-weight: 550;
          }
        }
        .add-task {
          color: #5e6c84;
          .add-task-unactive {
            border-radius: 3px;
            padding: 4px 8px;
            cursor: pointer;
            &:hover {
              background-color: darken($group-bgc, 6%);
            }
          }
          .add-task-active {
            .textarea-container {
              padding: 6px 8px 2px;
              background-color: #fff;
              border-radius: 3px;
              box-shadow: 0 1px 0 #091e4240;
              margin-bottom: 4px;
              textarea {
                width: 100%;
                max-height: 162px;
                min-height: 54px;
                border: none;
              }
            }
            .add-task-btn {
              @include button-default;
              color: white;
              background-color: #0079bf;
              font-weight: 540;
            }
            .cancel-add-task-btn {
              @include button-default;
              font-size: 1.3rem;
              transform: translateY(10%);
              background: none;
              border: none;
            }
          }
        }
      }
    }
    .add-group {
      @include button-default;
      background-color: #ffffff3d;
      padding: 8px;
      height: 40px;
      min-width: 272px;
      transition: all 0.15s;
      color: white;
      &:hover {
        background-color: #ffffff52;
      }
      > * {
        display: flex;
        flex-direction: column;
      }
      &.add-group-active {
        padding: 3px;
        background-color: $group-bgc;
        height: 80px;
        input {
          height: 32px;
          padding: 8px 12px;
          margin-bottom: 2px;
          border-radius: 3px;
          border: none;
          box-shadow: inset 0 0 0 2px #0079bf;
        }
        .add-group-btn {
          @include button-default;
          color: white;
          background-color: $clr1;
          font-weight: 540;
        }
        .cancel-add-group-btn {
          @include button-default;
          font-size: 1.3rem;
          transform: translateY(10%);
          background: none;
          border: none;
        }
      }
    }
  }
}
