.board-header {
  padding: 8px 14px;
  .board-header-nav {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    height: 32px;

    a,
    .title,
    .menu-btn {
      color: white;
      @include button-default;
      margin: 0 4px 4px 0;
      display: flex;
      align-items: center;
      padding: 0 12px 0 15px;
      h1 {
        font-size: 18px;
        font-weight: 700;
        line-height: 32px;
      }
      input {
        font-size: 18px;
        font-weight: 700;
        line-height: 32px;
        padding: 0 11px 0 0;
      }
    }
    .board-members {
      height: 32px;
      display: flex;
      align-items: center;
      padding: 5px 0;
      margin: 0 12px;
      max-width: 40vw;
      > * {
        position: absolute;
      }
      img {
        width: 28px;
        height: 28px;
        border-radius: 25em;
        object-fit: cover;
      }
    }
    button {
      display: flex;
      gap: 3px;
      height: 30px;
      align-items: center;
      background-color: $clr1;
      border-radius: 3px;
      border-color: transparent;
      color: white;
      cursor: pointer;
      .invite-icon {
        @include icon;
        padding: 0;
        width: fit-content;
        &::before {
          content: '\e902';
        }
      }
    }
    .board-header-btn {
      height: 32px;
      border-radius: 3px;
    }
    .board-header-left {
      display: flex;
      > * {
        position: relative;
      }
      .board-starred {
        background-color: #ffffff3d;
        width: 32px;
        padding: 0;
        .star-icon {
          @include icon;
          transform: translatex(-50%);
          font-weight: 400;
          &::before {
            content: '\e966';
          }
          &:hover {
            color: gold;
            font-size: 1.4em;
          }
        }
      }
    }
    .board-header-right {
      .board-menu {
        background-color: #ffffff3d;
        button {
          background: none;
        }
        position: absolute;
        right: 8px;
        .menu-icon {
          @include icon;
          padding: 0 4px 0 0;
          &::before {
            content: '\e952';
          }
        }
      }
    }
  }
}
