.task-checklists {
    .checklist {
        position: relative;
        margin-bottom: 40px;

        .checklist-header {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            button {
                @include button-default;
                transform: translateY(-12%);
                &:hover {
                    background-color: $task-btn-hvr;
                }
            }
        }

        .progress-bar {
            margin-bottom: 15px;
            width: 100%;
            .el-progress__text {
                text-align: center;
            }
        }

        ul {
            list-style: none;
            .todo {
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 2px;
                margin-bottom: 10px;
                margin-left: -36px;
                border-radius: 3px;
                &:hover {
                    cursor: pointer;
                    background-color: $task-btn-hvr;
                }
                .todo-text-container {
                    display: flex;
                    align-items: center;
                    gap: 16px;
                }
                .is-done-btn {
                    cursor: pointer;
                }
                .todo-more {
                    transform: translateY(-15%);
                }
            }
        }
        .add-item-container {
            width: 100%;
            .todo-text {
                width: 100%;
            }
            button {
                @include button-default;
                background-color: #0079bf;
                color: white;
                &:hover {
                    background-color: #026aa7;
                }
            }
        }
        .icon {
            @include icon;
            display: inline-block;
            &.delete-icon {
                cursor: pointer;
                opacity: 0.7;
                padding: 0;
                transform: translateY(4%);
                &::before {
                    content: "\e91c";
                }
                &:hover {
                    opacity: 1;
                }
            }
            &.checklist-icon {
                @include icon-lg;
                position: absolute;
                left: -48px;
                top: -12px;
                &::before {
                    content: "\e91a";
                }
            }
        }

        .more-menu {
            @include action-menu;
            position: absolute;
            right: 0;
            bottom: -50px;
            .more-header {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 40px;
            }
            .more-main {
                p {
                    display: flex;
                    align-items: center;
                    width: 304px;
                    height: 32px;
                    padding: 0 12px 0 12px;
                    margin-left: -12px;
                    cursor: pointer;
                    &:hover{
                        background-color: $task-btn-hvr;
                    }
                }
            }
        }
    }
}
