.main-header {
  background-color: #026aa7;
  box-sizing: border-box;
  display: flex;
  // overflow: hidden;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  max-height: 44px;
  padding: 6px 4px;
  // position: fixed;
  top: 0;
  width: 100%;

  .main-logo {
    padding: 0 6px;
    height: 32px;
    border-radius: 3px;
    width: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #ffffff;
    cursor: pointer;
  }

  .left-navbar {
    align-items: stretch;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    // height: 100%;
    position: relative;

    .workspace-btn {
      width: 117px;
    }

    .recent-btn,
    .starred-btn {
      width: 87px;
    }

    .workspace-drop-content {
      position: fixed;
      width: 304px;
      will-change: top, left;
      top: 48px;
      left: 127px;

      .drop-padding {
        padding: 0 12px;
      }
    }

    .recent-drop-content {
      position: fixed;
      width: 304px;
      will-change: top, left;
      top: 48px;
      left: 244px;

      .drop-padding {
        padding: 0 12px;
      }
    }

    .starred-drop-content {
      position: fixed;
      width: 304px;
      will-change: top, left;
      top: 48px;
      left: 331px;

      .drop-padding {
        padding: 0 12px;
      }
    }

    .create-board-btn {
      margin: 0;
      font-weight: 400;
      padding: 0 12px;
      background-color: rgba(0, 0, 0, 0.3);
      color: #ffffff;
    }
    .create-board-btn:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }

  .main-header-dropdowns {
    display: flex;
    flex-shrink: 0;
    margin: 0 4px;
  }

  .seperator {
    flex-shrink: 1;
    min-width: 1px;
    margin: 0;
    width: 100%;
    position: relative;
  }

  .right-navbar {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;

    .board-search {
      width: 258px;

      .main-input {
        background-color: rgba(255, 255, 255, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.25);
        border-radius: 3px;
        box-shadow: none;
        box-sizing: border-box;
        color: rgba(255, 255, 255, 0.5);
        float: left;
        font-size: 14px;
        height: 32px;
        line-height: 19px;
        margin-left: 4px;
        margin-right: 4px;
        outline: none;
        padding-left: 30px;
        padding-right: 8px;
        transition: width 150ms;
        width: 250px;
      }

      ::placeholder {
        color: white;
        opacity: 1;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
          Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
      }
    }

    .right-nav-btn {
      border-radius: 3px;
      border: 0;
      text-decoration: none;
      align-items: center;
      background-color: transparent;
      box-shadow: none;
      display: flex;
      font-weight: bold;
      height: 32px;
      line-height: 32px;
      margin: 0 4px 0 0;
      padding: 0;
      white-space: nowrap;
      color: #ffffff;
      cursor: pointer;
      //   width: 32px;

      span {
        display: flex;
        width: 32px;
        justify-content: center;
        align-items: center;
        margin: 0;
      }
    }

    .right-nav-btn:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}

.dropdown {
  color: #172b4d;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 8px 16px -4px rgb(9 30 66 / 25%), 0 0 0 1px rgb(9 30 66 / 8%);
  box-sizing: border-box;
  outline: 0;
  overflow: hidden;
}

.drop-header {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  border-bottom: 1px solid rgba(9, 30, 66, 0.13);
  color: #5e6c84;
  height: 40px;
  display: flex;
  line-height: 40px;
  margin: 0;
  overflow: hidden;
  padding: 0 32px;
  position: relative;
  text-overflow: ellipsis;

  .close-header {
    width: 10px;
    cursor: pointer;
    margin-left: 160px;
  }

  .close-header:hover {
    color: black;
  }
}

.board-details {
  display: flex;
  font-weight: 700;
  height: 32px;
  padding: 0;
  position: relative;
  text-decoration: none;
  -webkit-user-select: none;
  user-select: none;
}

.boards-list {
  max-height: 464px;
  min-height: 50px;
  padding: 0 12px;
}

.drop-btn {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  cursor: pointer;
  padding: 6px 12px;
  text-decoration: none;
  white-space: normal;
  background-color: #026aa7;
  box-shadow: none;
  border: none;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 85ms;
  transition-timing-function: ease;
  color: #ffffff;
}

.drop-btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.open-drop {
  display: block;
}

.close-drop {
  display: none;
}
