
.more-drop-content {
    position: fixed;
    width: 304px;
    will-change: top, left;
    top: 48px;
    left: 119px;

    .drop-header {
        @include dropdwonn-header;

        .header-text {
            @include dropdown-header-text;
        }

        .close-header {
            @include close-dropdwon-btn;
        }
    }

    .boards-list {
        max-height: 464px;
        min-height: 50px;
        padding: 0 12px;
        .board-details{
            display: flex;
            font-weight: 700;
            height: 32px;
            padding: 0;
            position: relative;
            text-decoration: none;
            -webkit-user-select: none;
            user-select: none;

            &:hover {
                background-color: #ebecf0;
                border-radius: 3px;
      
                .board-cover-container {
                    opacity: 0.6;
                }
            }
        }
    }
}