.task-details-main {
    width: 768px;
    min-height: 600px;
    padding: 25px 17px 0 55px;
    margin: auto;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    background-color: $task-bcg;

    .module {
        margin-bottom: 24px;
    }

    h1 {
        margin-bottom: 12px;
    }

    h2 {
        margin-bottom: 20px;
    }

    p {
        margin: 0;
    }
    .head {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        min-height: 32px;
        margin-bottom: 8px;
    }

    .details-main {
        display: flex;
        justify-content: space-between;

        .content {
            width: 515px;
            padding-top: 10px;
            display: flex;
            flex-direction: column;
            .activities-container {
                .header {
                    display: flex;
                    justify-content: space-between;
                    button{
                        @include button-default;
                        background-color: $task-btn-clr;
                        &:hover{
                            background-color: $task-btn-hvr;
                        }
                    }
                }
                textarea {
                    width: 100%;
                    min-height: 36px;
                    padding: 8px 12px;
                    border: 1px solid #e0e3e8;
                    border-radius: 4px;
                    outline: none;
                    overflow: hidden;
                    overflow-wrap: break-word;
                    resize: none;
                }
            }
        }

        .actions-menu {
            width: 167px;
            display: flex;
            flex-direction: column;
            button {
                height: 32px;
                margin-top: 8px;
            }
        }
    }
}
