.main-task-container {
  position: relative;

  .task-preview-container {
    & > * {
      padding: 8px;
    }

    .task-quick-edit {
      @include icon;
      background-color: $group-bgc;
      position: absolute;
      padding: 6px;
      display: none;
      border-radius: 3px;
      right: 2px;
      top: 2px;
      color: black;
      opacity: 0.4;
      &::before {
        content: '\e928';
      }
      &:hover {
        background-color: rgb(215, 215, 215);
      }
    }
    .task-cover {
      border-radius: 3px 3px 0 0;
    }
    &:hover .task-quick-edit {
      display: block;
    }
    .task-preview {
      border-radius: 3px;
      box-shadow: 0 1px 0 #091e4240;
      margin-bottom: 8px;
      width: 256px;
      // position: relative;
      background-color: #fff;
      white-space: pre-wrap;
      word-wrap: break-word;
      &:hover {
        background-color: darken(#fff, 5%);
      }
      &.task-bg-cover {
        color: white;
        background-size: cover;
        align-items: flex-end;
        justify-content: flex-start;
        span {
          // position: absolute;
          white-space: pre-wrap;
          word-wrap: break-word;
          max-width: 100%;
        }
      }

      .task-labels {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .label {
          color: #fff;
          font-weight: 700;
          line-height: 16px;
          font-size: 12px;
          text-shadow: none;
          display: block;
          min-width: 40px;
          min-height: 8px;
          padding: 0 8px;
          border-radius: 4px;
          margin-right: 4px;
          margin-bottom: 4px;

          &.label-open {
            animation: label-text-appear 0.2s ease-in;
          }
          &.label-closing {
            animation: label-text-disappear 0.2s ease-in;
          }
          .label-text {
            &.label-open {
              animation: label-text-appear-title 0.4s ease-in;
              position: relative;
            }
            &.label-closing {
              animation: label-text-disappear-title 0.4s ease-in;
              opacity: 0;
              position: absolute;
            }
          }
        }
      }
    }
  }
}

@keyframes label-text-appear {
  20% {
    width: 60px;
    height: 8px;
  }
  40% {
    width: 70px;
    height: 8px;
  }
  60% {
    width: 80px;
    height: 10px;
  }
  80% {
    width: 80px;
    height: 14px;
  }
  100% {
    height: 20px;
    width: fit-content;
  }
}
@keyframes label-text-disappear {
  20% {
    height: 18px;
  }
  40% {
    height: 14px;
  }
  60% {
    width: 80px;
    height: 11px;
  }
  80% {
    width: 70px;
  }
  100% {
    width: 60px;
    height: 8px;
  }
}

@keyframes label-text-appear-title {
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }

  // 20% {
  //   opacity: 0;
  // }
  // 40% {
  //   opacity: 0.0;
  // }
  // 60% {
  //   opacity: 0.4;
  // }
  // 80% {
  //   opacity: 0.6;
  // }
  // 100% {
  //   opacity: 0.8;
  // }
}

@keyframes label-text-disappear-title {
  20% {
    opacity: 0.8;
  }
  40% {
    opacity: 0.6;
  }
  60% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}
