.task-details-overlay {
  padding: 45px 0;
  background-color: #000000a3;
  height: 100%;
  left: 0;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}

.task-details-main {
  top: 50px;
  left: 50px;
  width: 768px;
  min-height: 600px;
  border-radius: 3px;
  overflow: auto;
  padding: 25px 17px 0 55px;
  margin: auto;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  background-color: $task-bcg;
  color: $clr3;

  button {
    color: $clr4;
  }

  .module {
    margin-bottom: 24px;
  }

  h1 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
  }

  h2 {
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 550;
  }

  p {
    margin: 0;
  }
  .head {
    position: relative;
    min-height: 32px;
    margin-bottom: 8px;
    .icon {
      @include icon-lg;
      position: absolute;
      right: -8px;
      top: -10px;
      display:flex;
      justify-content: center;
      border-radius: 50%;
      &::before {
        content: "\e91c";
      }
      &:hover{
        cursor: pointer;
        background-color: $task-btn-hvr;
      }
    }
    .text {
      .icon {
        @include icon-lg;
        left: -38px;
        top: -6px;
        position: absolute;
        &::before {
          content: "\e912";
        }
      }
    }
    .text {
      p {
        color: $clr5;
        font-weight: 400;
      }
    }
  }

  .details-main {
    display: flex;
    justify-content: space-between;

    .content {
      width: 515px;
      padding-top: 10px;
      display: flex;
      flex-direction: column;
      .description {
        display: flex;
        align-items: flex-start;
        pre {
          white-space: pre-wrap;
          word-wrap: break-word;
        }
        button {
          @include button-default;
          margin-inline-start: 10px;
          transform: translateY(-15%);
          &:hover {
            background-color: $task-btn-hvr;
          }
        }
        .desc-edit {
          width: 515px;
          .desc-edit-txt {
            min-height: 108px;
            width: 100%;
            border-color: transparent;
            resize: none;
          }

          .edit-btns {
            margin-top: 8px;
            button {
              &:first-child {
                background-color: #0079bf;
                color: white;
              }
              margin-inline-start: 0;
              margin-inline-end: 15px;
            }
          }
        }
      }
    }
  }
}
