@media (max-width: 840px) {
    .task-total-container {
        width: 600px;
    }
    .task-details-main {
        width: 600px;
        .members-menu,
        .label-menu,
        .checklist-menu,
        .dates-menu,
        .attachment-menu,
        .cover-menu {
            right: 50px;
        }
        .details-main {
            .content {
                width: 355px;
                .text {
                    max-width: 100%;
                }
                .description {
                    max-width: 100%;
                    .desc-edit {
                        max-width: 100%;
                        .desc-edit-txt {
                            max-width: 100%;
                        }
                    }
                    .placeholder-desc {
                        max-width: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width: 750px) {
    .boards-page {
        .board-link {
            width: calc(100% + 130px);
            padding: 14px;
        }

        .board-card {
            margin-right: 22% !important;
            margin-bottom: 15px !important;
        }
    }

    .create-new-board-card {
        flex-basis: auto !important;
        width: 267px !important;
        .new-board-card {
            width: 267px !important ;
        }
    }

    .main-header {
        .right-nav-btn {
            display: inline !important;
        }

        .right-navbar {
            .board-search {
                display: none;
            }
        }
    }

    .homepage-nav {
        .login-container {
            margin-right: 30px;
        }
    }

    .login-page {
        .background {
            .left-img {
                display: none;
            }

            .right-img {
                display: none;
            }
        }
    }
}

@media (max-width: 640px) {
    .task-total-container {
        width: 481px;
    }
    .task-details-main {
        width: 480px;
        .details-main {
            .content {
                padding: 0 10px 0 0;
                width: 300px;
            }
        }
    }
}

@media (max-width: 600px) {
    .boards-page {
        .homepage-nav {
            display: none;
        }
        .all-boards {
            margin: 0 16px;
        }

        .board-link {
            width: calc(100% + 80px);
            padding: 14px;
        }

        .board-card {
            margin-right: 18% !important;
            margin-bottom: 15px !important;
        }

        .create-new-board-card {
            width: 217px !important;

            .new-board-card {
                width: 217px !important;
            }
        }
    }

    .home-page-content-container {
        .home-page-right {
            width: 60% !important;
        }

        .home-page-left {
            .header {
                font-size: 2.1rem !important;
            }

            .home-text {
                font-weight: 100 !important;
                padding-right: 0px !important;
            }
        }
    }
}

@media (max-width: 540px) {
    .task-total-container {
        width: 350px;
    }
    .task-details-main {
        width: 350px;
        padding-bottom: 15px;
        .members-menu,
        .label-menu,
        .checklist-menu,
        .dates-menu,
        .attachment-menu,
        .cover-menu {
            bottom: 70px;
            height: fit-content;
            right: 0;
        }

        .task-labels{
            max-width: 100%;
            .task-details-labels-container {
                max-width: 100%;
                flex-wrap: wrap;
            }
        }
        .details-main {
            flex-direction: column;
            align-items: center;
        }
        .actions-menu{
            width: 100%;
            transform: translateX(-4%);
        }
    }
}

@media (max-width: 520px) {
    .boards-page {
        .all-boards {
            padding-left: 5%;
        }

        .board-link {
            width: calc(100% + 110px) !important;
            padding: 14px;
        }

        .board-card {
            margin-right: 10% !important;
            margin-bottom: 10px !important;
        }

        .create-new-board-card {
            width: 247px !important;

            .new-board-card {
                width: 247px !important;
            }
        }
    }
}

@media (max-width: 520px) {
    .boards-page {
        padding-top: 15px !important;
        .all-boards {
            padding-left: 25%;
        }

        .board-link {
            width: calc(100% + 50px);
        }

        .board-card {
            margin-right: 12% !important;
        }
    }

    .main-header {
        .left-navbar {
            .main-header-dropdowns {
                .more-drop {
                    display: inline;
                }

                .recent-drop {
                    display: none;
                }
                .starred-drop {
                    display: none;
                }
            }
        }
    }

    .create-board {
        .create-board-modal {
            left: 100px !important;
        }
    }

    .recent-drop-content {
        left: 100px !important;
    }
    .starred-drop-content {
        left: 100px !important;
    }
}
