@media (max-width: 750px) {
    .boards-page {
        .board-link {
            width: calc(100% + 130px);
            padding: 14px;
        }

        .board-card {
            margin-right: 22% !important;
            margin-bottom: 15px !important;
        }
    }

    .main-header {
        .right-nav-btn {
            display: inline !important;
        }

        .right-navbar {
            .board-search {
                display: none;
            }
        }
    }
}

@media (max-width: 600px) {
    .boards-page {
        .homepage-nav {
            display: none;
        }
        .all-boards {
            margin: 0 16px;
        }

        .board-link {
            width: calc(100% + 80px);
            padding: 14px;
        }

        .board-card {
            margin-right: 18% !important;
            margin-bottom: 15px !important;
        }
    }
}

@media (max-width: 520px) {
    .boards-page {
        .all-boards {
            padding-left: 5%;
        }

        .board-link {
            width: calc(100% + 30px);
            padding: 14px;
        }

        .board-card {
            margin-right: 10% !important;
            margin-bottom: 10px !important;
        }
    }
}

@media (max-width: 520px) {
    .boards-page {
        padding-top: 15px !important;
        .all-boards {
            padding-left: 25%;
        }

        .board-link {
            width: calc(100% + 50px);
        }

        .board-card {
            margin-right: 12% !important;
        }
    }

    .main-header {
        .left-navbar {
            .main-header-dropdowns {
                .more-drop {
                    display: inline;
                }

                .recent-drop {
                    display: none;
                }
                .starred-drop {
                    display: none;
                }
            }
        }
    }

    .create-board {
        .create-board-modal {
            left: 100px !important;
        }
    }

    .recent-drop-content{
        left: 100px !important;
    }
    .starred-drop-content{
        left: 100px !important;
    }
}

