@media (max-width: 750px) {
    .boards-page {
        .board-link {
            width: calc(100% + 130px);
            padding: 14px;
        }

        .board-card {
            margin-right: 22% ;
            margin-bottom: 15px ;
        }
    }

    .create-new-board-card {
        flex-basis: auto ;
        width: 267px ;
        .new-board-card {
            width: 267px;
        }
    }

    .main-header {
        .right-nav-btn {
            display: inline;
        }

        .right-navbar {
            .board-search {
                display: none;
            }
        }
    }

    .homepage-nav {
        .login-container {
            margin-right: 30px;
        }
    }

    .login-page {
        .background {
            .left-img {
                display: none;
            }

            .right-img {
                display: none;
            }
        }
    }
}

@media (max-width: 600px) {
    .boards-page {
        .homepage-nav {
            display: none;
        }
        .all-boards {
            margin: 0 16px;
        }

        .board-link {
            width: calc(100% + 80px);
            padding: 14px;
        }

        .board-card {
            margin-right: 18% ;
            margin-bottom: 15px ;
        }

        .create-new-board-card {
            width: 217px ;

            .new-board-card {
                width: 217px;
            }
        }
    }

    .home-page-content-container {
        .home-page-right {
            width: 60% ;
        }

        .home-page-left {
            .header {
                font-size: 2.1rem;
            }

            .home-text {
                font-weight: 100 ;
                padding-right: 0px;
            }
        }
    }
}

@media (max-width: 520px) {
    .boards-page {
        .all-boards {
            padding-left: 5%;
        }

        .board-link {
            width: calc(100% + 110px) ;
            padding: 14px;
        }

        .board-card {
            margin-right: 10%;
            margin-bottom: 10px ;
        }

        .create-new-board-card {
            width: 247px ;

            .new-board-card {
                width: 247px ;
            }
        }
    }
}

@media (max-width: 520px) {
    .boards-page {
        padding-top: 15px ;
        .all-boards {
            padding-left: 25%;
        }

        .board-link {
            width: calc(100% + 50px);
        }

        .board-card {
            margin-right: 12% ;
        }
    }

    .main-header {
        .left-navbar {
            .main-header-dropdowns {
                .more-drop {
                    display: inline;
                }

                .recent-drop {
                    display: none;
                }
                .starred-drop {
                    display: none;
                }
            }
        }
    }

    .create-board {
        .create-board-modal {
            left: 100px ;
        }
    }

    .recent-drop-content {
        left: 100px ;
    }
    .starred-drop-content {
        left: 100px ;
    }
}
