@mixin button-default {
  height: 32px;
  border-radius: 3px;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 0 12px;
}

@mixin icon {
  font-family: trellicons;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  height: 30px;
  width: 30px;
  line-height: 20px;
  padding: 6px 12px;
}

@mixin avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

@mixin icon-lg {
  height: 32px;
  line-height: 32px;
  width: 32px;
  font-size: 24px;
}

@mixin color-choose-btn{
  background-size: cover;
  border-radius: 3px;
  box-shadow: none;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0;
  min-height: 0;
  outline: 0;
  padding: 0;
  position: relative;
  line-height: 0;
  width: 100%;
  cursor: pointer;
  border: none;
}

@mixin dropdwonn-header{
  margin-bottom: 8px;
  padding: 0 12px;
  position: relative;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 12px;
}


@mixin dropdown-header-text {
  font-weight: 400;
  border-bottom: 1px solid rgba(9, 30, 66, 0.13);
  color: #5e6c84;
  height: 40px;
  display: block;
  line-height: 40px;
  margin: 0;
  overflow: hidden;
  padding: 0 32px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  grid-row: 1;
}

@mixin close-dropdwon-btn {
  background: transparent;
  border: none;
  color: #6b778c;
  cursor: pointer;
  margin: 0;
  padding: 0;
  z-index: 2;
  outline: none;

  &:hover {
      color: black;
  }
}