::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0.235);
  height: 12px;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.543);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:horizontal {
  height: 30px;
}
